{
  "extends": [
    "stylelint-config-shopify",
    "stylelint-config-prettier"
  ],
  "rules": {
    "color-no-hex": null,
    "selector-class-pattern": null,
    "selector-no-qualifying-type": null,
    "selector-max-type": null
  }
}
