{
  "extends": [
    "stylelint-config-shopify",
    "stylelint-config-prettier",
    "stylelint-config-idiomatic-order",
  ],
  "rules": {
    "indentation": 2,
    "string-quotes": "single",
    "selector-class-pattern": null,
    "selector-max-type": null,
    "selector-no-qualifying-type": null,
    "color-no-hex": null
  }
}