/*================ Responsive background images ================*/
.hero-banner--article {
  min-height: 278px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
