/* ================ Responsive images ================ */
.responsive-image__container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.responsive-image__wrapper {
  position: relative;
  display: block;

  img {
    display: block;
    width: 100%;
  }
}

.responsive-image__image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

/*================ Responsive background images ================*/
.responsive-bg__wrapper {
  overflow: hidden;
  height: 278px;
}

.responsive-bg-image {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
