.collection-list {
  display: flex;
  max-width: $grid-max-width;
  flex-wrap: wrap;
}

.collection-list-item {
  height: 100%;
  flex: 1 1 percentage(1 / 3);
  text-align: center;
}

.collection-list__image {
  min-width: 320px;
}

.collection-list__title {
  flex-basis: 100%;
}
