// Text colors
$color-body-text: var(--color-body-text);
$color-anchor: var(--color-anchor);
$color-anchor--hover: var(--color-anchor--hover);
$color-body: var(--color-main-background);
$placeholder-color-foreground: #161d25;
$placeholder-color-background: #f9fafb;
$color-accent: var(--color-accent);
$color-border: var(--color-border);
$color-disabled: #000000;
$color-disabled-border: #000000;
$color-error: #ff6d6d;
$color-error-bg: #ffffff;
$color-success: #000000;
$color-success-bg: #000000;
$white: #ffffff;

// Typography
$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-body-weight: var(--font-body-weight);
$font-body-style: var(--font-body-style);
$font-body-bold-weight: var(--font-body-bold-weight);

$serif: serif;
$sans-serif: sans-serif;

$font-size-h1: 3.875rem;
$font-size-h2: 3rem;
$font-size-h3: 2.5rem;
$font-size-h4: 2rem;
$font-size-h5: 1.6rem;
$font-size-p: 1.6rem;

$light: 300;
$regular: 500;
$medium: 600;
$bold: 700;

$point01: 0.01em;
$point02: 0.02em;
$point03: 0.03em;
$point04: 0.04em;
$point05: 0.05em;
$point06: 0.06em;
$point07: 0.07em;
$point08: 0.08em;
$point09: 0.09em;
$point1: 0.1em;

// Transitions
$transition: all 0.3s ease;

// Grid
$grid-medium: 46.85em;
$grid-large: 61.85em;
$grid-widescreen: 87.5em;
$grid-max-width: 73.75em;
$grid-gutter: 30px;

// Breakpoints used with the media-query mixin
$small: "small";
$medium: "medium";
$medium-down: "medium-down";
$medium-up: "medium-up";
$large: "large";
$large-down: "large-down";
$large-up: "large-up";
$widescreen: "widescreen";
$laptop-lg: "laptop-lg";
$laptop-sm: "laptop-sm";
$tablet-lg: "tablet-lg";
$tablet-sm: "tablet-sm";
$mobile-lg: "mobile-lg";
$mobile-sm: "mobile-sm";

$breakpoints: (
  $laptop-lg: "(max-width: 1180px)",
  $laptop-sm: "(max-width: 1050px)",
  $tablet-lg: "(max-width: 976px)",
  $tablet-sm: "(max-width: 768px)",
  $mobile-lg: "(max-width: 550px)",
  $mobile-sm: "(max-width: 420px)"
);
