.product-single__thumbnail-image {
  border: 2px solid transparent;

  .active-thumbnail & {
    border-color: $color-border;
  }
}

.price__regular {

  .price--on-sale & {
    text-decoration: line-through;
  }
}

.price__sale {
  display: none;

  .price--on-sale & {
    display: block;
  }
}
