/* ============================================================================
  Form scaffolding
    - Selectors setup for you to style form elements how you want
    - Focus, error, and disabled states are set to be extended
============================================================================== */
input,
textarea,
select {
  max-width: 100%;
  border: 1px solid $color-border;
  border-radius: 0;

  &[disabled] {
    border-color: $color-disabled-border;
    background-color: $color-disabled;
    cursor: default;
  }
}

.input-error {
  border-color: $color-error;
  background-color: $color-error-bg;
  color: $color-error;
}

textarea {
  min-height: 100px;
}

select::-ms-expand {
  display: none;
}
