@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate
 */

@import '~normalize.css/normalize';

/* Utils */
@import './tools/mixins';

/* Settings */
@import './settings/variables';

/* Global */
@import './global/slate-reset';
@import './global/helper-classes';
@import './global/grid';
@import './global/layout';
@import './global/icons';
@import './global/rte';
@import './global/responsive-tables';
@import './global/links-buttons';
@import './global/forms';
@import './global/blank-states';

/* Modules */
@import './modules/gift-card-template';
@import './modules/responsive-images';
@import './modules/hero-banner';

/* Sections */
@import './sections/header';
