@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate
 */
@import '~normalize.css/normalize';

/* Utils */
@import './tools/mixins';

/* Settings */
@import './settings/variables';

/* Global */
@import './global/slate-reset';
@import './global/helper-classes';
@import './global/layout';
@import './global/icons';
@import './global/typography';
@import './global/rte';
@import './global/responsive-tables';
@import './global/forms';

/* Components */
@import './components/buttons';
@import './components/site-header';
@import './components/responsive-images';
@import './components/hero-banner';
@import './components/placeholders';

/* Templates */
@import './templates/gift_card';

/* Sections */
@import './sections/blog-posts';
@import './sections/featured-collection';
@import './sections/image-with-text';
