@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate
 */
@import '~normalize.css/normalize';

// Settings
@import './variables';

// Tools
@import './tools/mixins';

// Core
@import './core/slate-reset';
@import './core/helper-classes';
@import './core/layout';
@import './core/icons';
@import './core/typography';
@import './core/rte';
@import './core/responsive-tables';
@import './core/forms';

// Components
@import './components/buttons';
@import './components/hero-banner';
@import './components/placeholders';
@import './components/responsive-images';

// Sections
@import './sections/blog-post';
@import './sections/collection-list';
@import './sections/featured-collection';
@import './sections/image-with-text';

// Templates
@import './templates/gift_card';
